<button mat-raised-button color="primary" type="button" (click)="showForm = !showForm">Show/hide config</button>
<button mat-raised-button color="accent" type="button" (click)="showTable = !showTable">Show/hide partidos</button>
<button mat-raised-button color="warn" type="button" (click)="showDetails = !showDetails">Show/hide detalles</button>
    <ng-container *ngIf="showForm">

    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
        <mat-card class="card-container">
      <mat-card-content>
          <div class="bma-row">
              <h3 class="bma-col-12">Probabilidad poco viento:</h3>
              <div class="bma-col-12">
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>A_1</mat-label>
                      <input matInput formControlName="probPocoVientoA_1">
                    </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>A_2</mat-label>
                      <input matInput formControlName="probPocoVientoA_2">
                    </mat-form-field>
                <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                    <mat-label>A_3</mat-label>
                    <input matInput formControlName="probPocoVientoA_3">
                </mat-form-field>
                <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                    <mat-label>A_4</mat-label>
                    <input matInput formControlName="probPocoVientoA_4">
                </mat-form-field>
                <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                    <mat-label>A_5</mat-label>
                    <input matInput formControlName="probPocoVientoA_5">
                </mat-form-field>
                <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                    <mat-label>A_6</mat-label>
                    <input matInput formControlName="probPocoVientoA_6">
                </mat-form-field>
                <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                    <mat-label>A_7</mat-label>
                    <input matInput formControlName="probPocoVientoA_7">
                </mat-form-field>
                <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                    <mat-label>A_8</mat-label>
                    <input matInput formControlName="probPocoVientoA_8">
                </mat-form-field>
                <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                    <mat-label>A_9</mat-label>
                    <input matInput formControlName="probPocoVientoA_9">
                </mat-form-field>
                </div>
                <div class="bma-col-12">
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>B_1</mat-label>
                        <input matInput formControlName="probPocoVientoB_1">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>B_2</mat-label>
                      <input matInput formControlName="probPocoVientoB_2">
                  </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>B_3</mat-label>
                      <input matInput formControlName="probPocoVientoB_3">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>B_4</mat-label>
                      <input matInput formControlName="probPocoVientoB_4">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>B_5</mat-label>
                      <input matInput formControlName="probPocoVientoB_5">
                  </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>B_6</mat-label>
                      <input matInput formControlName="probPocoVientoB_6">
                  </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>B_7</mat-label>
                      <input matInput formControlName="probPocoVientoB_7">
                  </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>B_8</mat-label>
                      <input matInput formControlName="probPocoVientoB_8">
                  </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>B_9</mat-label>
                      <input matInput formControlName="probPocoVientoB_9">
                  </mat-form-field>
                  </div>
                  <div class="bma-col-12">
                      <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>C_1</mat-label>
                          <input matInput formControlName="probPocoVientoC_1">
                        </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>C_2</mat-label>
                        <input matInput formControlName="probPocoVientoC_2">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>C_3</mat-label>
                      <input matInput formControlName="probPocoVientoC_3">
                  </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>C_4</mat-label>
                      <input matInput formControlName="probPocoVientoC_4">
                  </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>C_5</mat-label>
                      <input matInput formControlName="probPocoVientoC_5">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>C_6</mat-label>
                      <input matInput formControlName="probPocoVientoC_6">
                  </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>C_7</mat-label>
                      <input matInput formControlName="probPocoVientoC_7">
                  </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>C_8</mat-label>
                      <input matInput formControlName="probPocoVientoC_8">
                  </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>C_9</mat-label>
                      <input matInput formControlName="probPocoVientoC_9">
                  </mat-form-field>
                  </div>
                  
                </div>
                
            </mat-card-content>
      <mat-card-actions align="end">
          <button [disabled]="form.invalid" mat-button type="submit">Submit</button>
        </mat-card-actions>
</mat-card>
<mat-card class="card-container">
    <mat-card-content>
        <div class="bma-row">
            <h3 class="bma-col-12">Probabilidad mucho viento:</h3>
            <div class="bma-col-12">
                <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                    <mat-label>A_1</mat-label>
                        <input matInput formControlName="probMuchoVientoA_1">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>A_2</mat-label>
                      <input matInput formControlName="probMuchoVientoA_2">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>A_3</mat-label>
                      <input matInput formControlName="probMuchoVientoA_3">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>A_4</mat-label>
                      <input matInput formControlName="probMuchoVientoA_4">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>A_5</mat-label>
                      <input matInput formControlName="probMuchoVientoA_5">
                  </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>A_6</mat-label>
                      <input matInput formControlName="probMuchoVientoA_6">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>A_7</mat-label>
                      <input matInput formControlName="probMuchoVientoA_7">
                    </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>A_8</mat-label>
                      <input matInput formControlName="probMuchoVientoA_8">
                  </mat-form-field>
                  <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                      <mat-label>A_9</mat-label>
                      <input matInput formControlName="probMuchoVientoA_9">
                  </mat-form-field>
                </div>
                  <div class="bma-col-12">
                      <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>B_1</mat-label>
                          <input matInput formControlName="probMuchoVientoB_1">
                      </mat-form-field>
                      <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>B_2</mat-label>
                        <input matInput formControlName="probMuchoVientoB_2">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>B_3</mat-label>
                        <input matInput formControlName="probMuchoVientoB_3">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>B_4</mat-label>
                        <input matInput formControlName="probMuchoVientoB_4">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>B_5</mat-label>
                        <input matInput formControlName="probMuchoVientoB_5">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>B_6</mat-label>
                        <input matInput formControlName="probMuchoVientoB_6">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>B_7</mat-label>
                        <input matInput formControlName="probMuchoVientoB_7">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>B_8</mat-label>
                        <input matInput formControlName="probMuchoVientoB_8">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>B_9</mat-label>
                        <input matInput formControlName="probMuchoVientoB_9">
                    </mat-form-field>
                </div>
                    <div class="bma-col-12">
                      <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>C_1</mat-label>
                          <input matInput formControlName="probMuchoVientoC_1">
                      </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>C_2</mat-label>
                          <input matInput formControlName="probMuchoVientoC_2">
                        </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>C_3</mat-label>
                        <input matInput formControlName="probMuchoVientoC_3">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>C_4</mat-label>
                        <input matInput formControlName="probMuchoVientoC_4">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>C_5</mat-label>
                        <input matInput formControlName="probMuchoVientoC_5">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>C_6</mat-label>
                        <input matInput formControlName="probMuchoVientoC_6">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>C_7</mat-label>
                        <input matInput formControlName="probMuchoVientoC_7">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>C_8</mat-label>
                        <input matInput formControlName="probMuchoVientoC_8">
                    </mat-form-field>
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>C_9</mat-label>
                        <input matInput formControlName="probMuchoVientoC_9">
                    </mat-form-field>
                </div>
                
            </div>
                
        </mat-card-content>
        <mat-card-actions align="end">
            <button [disabled]="form.invalid" mat-button type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card-container">
        <mat-card-content>
            <div class="bma-row">
                <h3 class="bma-col-12">Probabilidad Hoyos:</h3>
                <div class="bma-col-12">
                    <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                        <mat-label>H_1</mat-label>
                            <input matInput formControlName="probMuchoVientoH_1">
                        </mat-form-field>
                        <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>H_2</mat-label>
                          <input matInput formControlName="probMuchoVientoH_2">
                        </mat-form-field>
                        <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>H_3</mat-label>
                          <input matInput formControlName="probMuchoVientoH_3">
                        </mat-form-field>
                        <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                            <mat-label>H_4</mat-label>
                          <input matInput formControlName="probMuchoVientoH_4">
                        </mat-form-field>
                        <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>H_5</mat-label>
                          <input matInput formControlName="probMuchoVientoH_5">
                      </mat-form-field>
                      <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>H_6</mat-label>
                          <input matInput formControlName="probMuchoVientoH_6">
                        </mat-form-field>
                        <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>H_7</mat-label>
                          <input matInput formControlName="probMuchoVientoH_7">
                        </mat-form-field>
                      <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>H_8</mat-label>
                          <input matInput formControlName="probMuchoVientoH_8">
                      </mat-form-field>
                      <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>H_9</mat-label>
                          <input matInput formControlName="probMuchoVientoH_9">
                      </mat-form-field>
                      <mat-form-field class="bma-col-1 form-field-container">
                      <mat-label>H_10</mat-label>
                            <input matInput formControlName="probMuchoVientoH_10">
                        </mat-form-field>
                        <mat-form-field class="bma-col-1 form-field-container">
                      <mat-label>H_11</mat-label>
                            <input matInput formControlName="probMuchoVientoH_11">
                        </mat-form-field>
                        <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>H_12</mat-label>
                          <input matInput formControlName="probMuchoVientoH_12">
                        </mat-form-field>
                        <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>H_13</mat-label>
                          <input matInput formControlName="probMuchoVientoH_13">
                        </mat-form-field>
                        <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                            <mat-label>H_14</mat-label>
                          <input matInput formControlName="probMuchoVientoH_14">
                        </mat-form-field>
                        <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>H_15</mat-label>
                          <input matInput formControlName="probMuchoVientoH_15">
                      </mat-form-field>
                      <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>H_16</mat-label>
                          <input matInput formControlName="probMuchoVientoH_16">
                        </mat-form-field>
                        <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>H_17</mat-label>
                          <input matInput formControlName="probMuchoVientoH_17">
                        </mat-form-field>
                      <mat-form-field class="bma-col-1 form-field-container" appearance="fill">
                          <mat-label>H_18</mat-label>
                          <input matInput formControlName="probMuchoVientoH_18">
                      </mat-form-field>
                </div>
                <div class="bma-col-12">
                    <mat-form-field class="bma-col-3 form-field-container" appearance="fill">
                        <mat-label># simulaciones</mat-label>
                        <input matInput formControlName="cantidadSimulaciones">
                    </mat-form-field>
                    <mat-form-field class="bma-col-3 form-field-container" appearance="fill">
                        <mat-label># sets</mat-label>
                        <input matInput formControlName="cantSet">
                    </mat-form-field>
                </div>
                </div>
                    
            </mat-card-content>
            <mat-card-actions align="end">
                <button [disabled]="form.invalid" mat-button type="submit">Submit</button>
            </mat-card-actions>
        </mat-card>
</form>
</ng-container>
<div [class.hidden]="!showTable">
    <ng-container *ngIf="partidos$ | async as partidos">
        <ng-container *ngIf="!(loading$ | async)">
            <h3>Golpes total A: {{ golpesTotalA }}</h3>
            <h3>Golpes total B: {{ golpesTotalB }}</h3>
            <h3>Golpes total C: {{ golpesTotalC }}</h3>
            <h3>Ganador: {{ getGanador(golpesTotalA, golpesTotalB, golpesTotalC) }}</h3>
            <table mat-table multiTemplateDataRows [dataSource]="partidos" class="voyage-table">
                <ng-container matColumnDef="golpesTotalPartidoA">
                    <th mat-header-cell *matHeaderCellDef> Golpes A Partido  </th>
                    <td mat-cell *matCellDef="let element"> {{element.golpesTotalPartidoA}} </td>
                </ng-container>
                <ng-container matColumnDef="golpesTotalPartidoB">
                    <th mat-header-cell *matHeaderCellDef> Golpes B Partido  </th>
                    <td mat-cell *matCellDef="let element"> {{element.golpesTotalPartidoB}} </td>
                </ng-container>
                <ng-container matColumnDef="golpesTotalPartidoC">
                    <th mat-header-cell *matHeaderCellDef> Golpes C Partido  </th>
                    <td mat-cell *matCellDef="let element"> {{element.golpesTotalPartidoC}} </td>
                </ng-container>
                <ng-container matColumnDef="ganadorPartido">
                    <th mat-header-cell *matHeaderCellDef> Ganador Partido  </th>
                    <td mat-cell *matCellDef="let element"> {{getGanador(element.golpesTotalPartidoA, element.golpesTotalPartidoB, element.golpesTotalPartidoC)}} </td>
                </ng-container>
                <!-- Expand Column -->
                <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                
                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsPartidosWithExpand.length">
                      
                      <div class="example-element-detail"
                      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                      <!-- Set Table -->
                     <table mat-table multiTemplateDataRows [dataSource]="element.sets" class="voyage-table">
                        <ng-container matColumnDef="golpesTotalSetA">
                            <th mat-header-cell *matHeaderCellDef> Golpes A Set  </th>
                            <td mat-cell *matCellDef="let element"> {{element.golpesTotalSetA}} </td>
                        </ng-container>
                        <ng-container matColumnDef="golpesTotalSetB">
                            <th mat-header-cell *matHeaderCellDef> Golpes B Set  </th>
                            <td mat-cell *matCellDef="let element"> {{element.golpesTotalSetB}} </td>
                        </ng-container>
                        <ng-container matColumnDef="golpesTotalSetC">
                            <th mat-header-cell *matHeaderCellDef> Golpes C Set  </th>
                            <td mat-cell *matCellDef="let element"> {{element.golpesTotalSetC}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ganadorSet">
                            <th mat-header-cell *matHeaderCellDef> Ganador Set  </th>
                            <td mat-cell *matCellDef="let element"> {{getGanador(element.golpesTotalSetA, element.golpesTotalSetB, element.golpesTotalSetC)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="expand">
                            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                            <td mat-cell *matCellDef="let element">
                              <button mat-icon-button (click)="(expandedElementSet = expandedElementSet === element ? null : element); $event.stopPropagation()">
                                <mat-icon *ngIf="expandedElementSet !== element">keyboard_arrow_down</mat-icon>
                                <mat-icon *ngIf="expandedElementSet === element">keyboard_arrow_up</mat-icon>
                              </button>
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="expandedDetailSet">
                            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsSetWithExpand.length">
                                <div class="example-element-detail"
                                [@detailExpand]="element == expandedElementSet ? 'expanded' : 'collapsed'">
                                <!-- Detalles del set -->
                                    <table mat-table multiTemplateDataRows [dataSource]="partidos" class="voyage-table">
                                        <ng-container matColumnDef="golpesTotalPartidoA">
                                            <th mat-header-cell *matHeaderCellDef> Golpes A Partido  </th>
                                            <td mat-cell *matCellDef="let element"> {{element.golpesTotalPartidoA}} </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSetWithExpand"></tr>
                                        <tr mat-row *matRowDef="let element; columns: displayedColumnsSetWithExpand;"
                                            class="example-element-row"
                                            [class.example-expanded-row]="expandedElementSet === element"
                                            (click)="expandedElement = expandedElementSet === element ? null : element">
                                        </tr>
                                        <tr mat-row *matRowDef="let row; columns: ['expandedDetailSet']" class="example-detail-row"></tr>
                                    </table>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSetWithExpand"></tr>
                        <tr mat-row *matRowDef="let element; columns: displayedColumnsSetWithExpand;"
                            class="example-element-row"
                            [class.example-expanded-row]="expandedElementSet === element"
                            (click)="expandedElement = expandedElementSet === element ? null : element">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetailSet']" class="example-detail-row"></tr>
                    </table>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsPartidosWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumnsPartidosWithExpand;"
                    class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              
            </table>
            
            <mat-paginator [pageSizeOptions]="[50,20,10,100,1000]"
            showFirstLastButtons 
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </ng-container>
</ng-container>
</div>